<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{{ url_for('static', filename='index.js') }}" defer></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='main.css') }}"
        />
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Planets</title>
    </head>
    <body>
        <h1>Star Wars universe planets</h1>
        <button id="prev">Previous</button>
        <button id="next">Next</button>
        <br><br>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Diameter</th>
                    <th>Climate</th>
                    <th>Terrain</th>
                    <th>Surface Water Percentage</th>
                    <th>Population</th>
                    <th>Residents</th>
                </tr>
            </thead>
            <tbody id="data"></tbody>
        </table>
    </body>
</html>